* {
	line-height: 32px;
}

p,
li {
	font-size: 18px;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

label {
	display: block;
}

.red {
	background: whitesmoke;
	color: whitesmoke;
}

.red[shown="true"] {
	color: coral;
}

.changeAll {
	display: inline-block;
	margin: 0 5px 0 0;
	position: relative;
	width: 14px;
	height: 14px;
	background: none;
	cursor: pointer;
	transition: 0.3s all;
	--changeAll-color: mediumseagreen;
}

.changeAll:before {
	content: "";
	position: absolute;
	left: 5.5px;
	width: 3px;
	height: 14px;
	transition: 0.3s all;
	background: var(--changeAll-color);
}

.changeAll:after {
	content: "";
	position: absolute;
	top: 5.5px;
	left: 0px;
	width: 14px;
	height: 3px;
	transition: 0.3s all;
	background: var(--changeAll-color);
}

.changeAll[mode="false"] {
	--changeAll-color: orangered;
	transform: rotate(45deg);
}
